@font-face {
    font-family: "Settings Fluent Icons";
    src: url("C:/Windows/SystemResources/Windows.UI.SettingsAppThreshold/SystemSettings/Assets/Fonts/SettingsIcons.ttf");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background: transparent !important;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

button,
.fui-Button {
  cursor: default !important;
  min-width: 0 !important;
}

.fui-FluentProvider {
  background: transparent !important;
}
